@import "tailwindcss";


body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 12px;
  margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
  width: 0px !important;
}
