@import "tailwindcss";

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 12px;
  margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
  width: 0px !important;
}

.filter-white {
  filter: brightness(0) saturate(100%) invert(99%) sepia(100%) saturate(0%)
    hue-rotate(335deg) brightness(101%) contrast(101%);
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}